{
    "parserOptions": {
      "ecmaVersion": 8
    },
    "extends": ["airbnb", "airbnb/hooks", "eslint-config-prettier"],
    "rules": {
      "quotes": ["warn", "double"],
      "semi":"off",
      "consistent-return": "off",
      "no-template-curly-in-string":"off"
    },
    "env": {
      "browser": true,
      "node": true,
      "es6" :true
    }
  }