.register{
  position: relative;

}
.register-form {
  background-color: white;
  max-width: 350px;
  min-width: 600px;
  padding-top: 20px!important;
  padding: 20px;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  }
  .register-form-forgot {
    float: right;
  }
  .ant-col-rtl .register-form-forgot {
    float: left;
  }
  .register-form-button {
    width: 100%;
  }
.register-label{
  text-align: center;
}
.register p {
  margin-bottom: 5px;
  font-weight: 500;
}